@if (errorMessage) {
  <span class="error">{{ errorMessage }}</span>
}
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="username">اسم المستخدم</label>
  <input  id="username" formControlName="username" />
 @if (loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched)  {
  <span class="error">اسم المستخدم مطلوب</span>
  }
  <label for="password">كلمة السر</label>
  <input type="password" id="password" formControlName="password" />
 @if (loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched) {
  <span class="error">كلمة السر مطلوبة</span>
}
@if (loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched) {
  <span class="error">كلمة السر يجب أن تحتوي على الأقل 6 أحرف</span>
}

  <button type="submit">دخول</button>
</form>
