@use '@angular/material' as mat;

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary-dark: #1E3A5F;
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-primary-light: #DBEAFE;
  --color-primary-pale: #EFF6FF;

 
  --color-text-heading: #111827;
  --color-text-body: #374151;
  --color-text-muted: #6B7280;
  --color-border: #D1D5DB;
  --color-bg-subtle: #F9FAFB;


  --color-success-light: #D1FAE5;
  --color-success-dark: #059669;
  --color-warning-light: #FEF3C7;
  --color-warning-dark: #D97706;
  --color-error-light: #FEE2E2;
  --color-error-dark: #DC2626;
  --color-info-light: #DBEAFE;
  --color-info-dark: #0369A1;

   --font-arabic: 'Tajawal', sans-serif;
  --font-english: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}